@{
    ViewData["Title"] = "Login";
}

<div class="container mt-5" style="max-width:400px">

    <h2 class="text-center mb-4">Login</h2>

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">
            @ViewBag.Error
        </div>
    }

    <form asp-controller="Auth" asp-action="Login" method="post">

        <div class="mb-3">
            <label>Username</label>
            <input name="Username" class="form-control" required />
        </div>

        <div class="mb-3">
            <label>Password</label>
            <input name="password" type="password" class="form-control" required />
        </div>

        <button type="submit" class="btn btn-primary w-100">
            Login
        </button>

    </form>

</div>