@model FoodOrdering.DTOs.TableDTO

@{
    ViewData["Title"] = "Create Table";
}

<div class="container mt-2 mb-4">

    <div class="card shadow border-0">

        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">➕ Create New Table</h4>
        </div>

        <div class="card-body">

            <form asp-action="Create">

                <div asp-validation-summary="ModelOnly"
                     class="alert alert-danger"></div>

                <div class="mb-3">
                    <label asp-for="TableNumber" class="form-label fw-bold"></label>
                    <input asp-for="TableNumber" class="form-control"
                           placeholder="Enter table number..." />
                    <span asp-validation-for="TableNumber"
                          class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Status" class="form-label fw-bold"></label>
                    <select asp-for="Status"
                                    class="form-select form-select-lg">

                                <option value="Available">Available</option>
                    </select>
                    @* <input asp-for="Status" class="form-control"
                           placeholder="Available / Occupied..." />
                    <span asp-validation-for="Status"
                          class="text-danger"></span> *@
                </div>

                <hr />

                <button type="submit" class="btn btn-admin-primary">
                    ✔ Create
                </button>

                <a asp-action="Index" class="btn btn-admin-secondary">
                    ← Back to List
                </a>

            </form>

        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}