DefaultConnection=Server=your_server;Database=FoodOrderingDB;User Id=sa;Password=your_password;TrustServerCertificate=True;
AppUrl=

# CLOUDINARY
CloudName=
CloudApiKey=
CloudApiSecret=

# VNPAY CONFIG
VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
VNPAY_BASE_URL=
VNPAY_RETURN_URL=