DefaultConnection=Server=DUYANH-DESKTOP\MSSQLSERVER2022;Database=FoodOrderingDB;User Id=sa;Password=admin@123;TrustServerCertificate=True;
AppUrl= 

# CLOUDINARY
CloudName=
CloudApiKey=
CloudApiSecret=

# VNPAY CONFIG
VNPAY_TMN_CODE=IS3DCZFZ
VNPAY_HASH_SECRET=XISJ30L6FNL4KPNSI188UKPJA8W58K5E
VNPAY_BASE_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=
