DefaultConnection=Server=localhost,1433;Database=FoodOrderingDB;User Id=sa;Password=Admin123@;TrustServerCertificate=True;
AppUrl=http://192.168.66.34:5111
FrontendUrl=http://192.168.66.34:5173

# CLOUDINARY
CloudName=dxeinnlqb
CloudApiKey=
CloudApiSecret=

# VNPAY CONFIG
VNPAY_TMN_CODE=IS3DCZFZ
VNPAY_HASH_SECRET=XISJ30L6FNL4KPNSI188UKPJA8W58K5E
VNPAY_BASE_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
